
.links-section-header-wrap{
color:#fff;
width:100%;
padding:5px;
height:30px;
clear:both;
margin-bottom:10px;
}.links-section-header{
color:#fff;
width:100%;
padding-left:2%;
height:30px;
line-height: 30px;
background-color:#605860;
clear:both;

}.links-cats-img{ width:100%; height:auto;
}.links-cats-link{ width:100%; overflow:hidden; padding:20px; text-align:center;
}.links-cats-link:hover{ color:#ff0000;
}.links-cats-desc{flex-grow:1;height:auto; overflow:hidden; padding:20px; text-align:center;
}.links-share{ width:100%; height:auto; color:#fff;
}.links-share-twitter{float:left;width:33.3333%;height:auto;line-height:30px;background-color:#32ccfe;text-align:center;
}.links-share-facebook{
float:left;
width:33.3333%;
height:auto;
line-height:30px;
background-color:#3E5B97;
text-align:center;
}.links-share-google{
float:left;
width:33.3333%;
height:auto;
line-height:30px;
background-color:#F8694D;
text-align:center;